<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>My cart</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
  <form class="form" method="post" th:action="@{/logout}">
    <p th:text="'Welcome, ' + ${session.customer.customerName}"></p>
    <p th:text="'Rewards: ' + ${session.customer.reserves}"></p>
    <!--      <p th:text="'ID: ' + ${session.customer.customerId}"></p>-->
    <input id="customerFormId" name="customerId" th:value="${session.customer.customerId}"
           type="hidden"/>
    <button class="btn btn-primary btn-sm" type="submit">LogOut</button>
  </form>

  <h4>Cart List</h4>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>주문번호</th>
      <th>제품번호</th>
      <th>제품명</th>
      <th>가격</th>
      <th>수량</th>
      <th>취소</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="o : ${orders}">
      <td th:text="${o.orderNumber}"></td>
      <td th:text="${o.product.productNumber}"></td>
      <td th:text="${o.product.productName}"></td>
      <td th:text="${o.product.price}"></td>
      <td th:text="${o.quantity}"></td>
      <td>
        <button type="button">
          Cancel
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>